
body
{
    text-align: center;
    font-family: Arial;
    font-size: 16pt;
    margin: 0;
}

h2
{
    padding: 5px;
    margin: 0;
    font-size: 12pt;
}

h3
{
    padding: 5px;
    margin: 0;
}


.other_items
{
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.favourite_items
{
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.product
{
    max-width: calc(50% - 10px);
    width: 225px;
    text-align: center;
    margin: 3px;
}

.offer
{
    color: red;
}


input
{
    font-size: 16pt;
    width: 2em;
}

select
{
    font-size: 16pt;
    width: 3em;
    vertical-align: bottom;
}

.buttons
{
    padding-top: 10px;
    padding-bottom: 10px;
}


input.query
{
    font-size: 16pt;
    width: 95%;
}


.skipform
{
    display: inline;
}

.setqueryform
{
    display: none;
}

h3
{
    margin: 5px;
}





.fancybutton {
	-moz-box-shadow: 0px 0px 5px 3px #8296cc;
	-webkit-box-shadow: 0px 0px 5px 3px #8296cc;
	box-shadow: 0px 0px 5px 3px #8296cc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8dafeb), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #8dafeb 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #8dafeb 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #8dafeb 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #8dafeb 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #8dafeb 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dafeb', endColorstr='#476e9e',GradientType=0);
	background-color:#8dafeb;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
        padding:8px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.fancybutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #8dafeb));
	background:-moz-linear-gradient(top, #476e9e 5%, #8dafeb 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #8dafeb 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #8dafeb 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #8dafeb 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #8dafeb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#8dafeb',GradientType=0);
	background-color:#476e9e;
}

.fancybutton:active {
	position:relative;
	top:1px;
}

.unfavourite {
    position: absolute;
    right: 0;
    font-size: 16pt;

}

.product_image {
    position: relative;
}

.product_image form {
    display: inline
}

.product_image img
{
    width: 100%;
}

